<html>
    <head>
          <title>Places I have been to!</title>
    </head>
    <body>
        <h1>You added a place!</h1>
        <p>{{ newplace.getCity }}</p>
        <p><a href='/'>View your list of places.</a></p>
    </body>
</html>
